{% extends "template.html" %}
{% block content %}

<form class="login-text" action="http://127.0.0.1:5000/add_student_grade" method = "post">
    <h4>Student Grades</h4>
    <br>
    <label for="username">Student Username</label>
    <textarea type="text" id="username" name="username"></textarea><br>

    <label for="assignment">Assignment</label><br>
    <textarea type="text" id="assignment" name="assignment"></textarea><br>

    <label for="midterm">Midterm</label><br>
    <textarea type="text" id="midterm" name="midterm"></textarea><br>

    <label for="final">Final</label><br>
    <textarea type="text" id="final" name="final"></textarea><br>

    <label for="lab">Lab</label><br>

    
    <textarea type="text" id="lab" name="lab"></textarea><br><br>

    <button type="Login">Submit</button>
</form>

{% endblock %}