{% extends "template.html" %}
{% block content %}

<form class="login-text" action="http://127.0.0.1:5000/register" method = "post">
    <h4>Register</h4>

    <label for="Type">Instructor/Student:</label>
    <select name="Type" id="Type">
        <option value="i">Instructor</option>
        <option value="s">Student</option>
    </select>

    <br>
    <label for="username">Username</label>
    <textarea type="text" id="Username" name="Username"></textarea>

    <label for="Password">Password</label>
    <textarea id="text" name="Password"></textarea>
    <br>
    <button type="Register">Register</button>
</form>

{% endblock %}